.container-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.review {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px;
  max-width: 500px;
}

.review p {
  margin: 5px;
}

.review .title {
  font-size: 24px;
  font-weight: bold;
}

.review .rating {
  font-size: 18px;
  color: #ffbf00;
}

.review .comment {
  font-size: 16px;
}
